In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
from sklearn.metrics import mean_squared_error,r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR

from sklearn.linear_model import LinearRegression,ridge_regression
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error
from sklearn.model_selection import RandomizedSearchCV
from catboost import CatBoostRegressor 
from xgboost import XGBRegressor
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
import warnings

In [2]:
df= pd.read_csv('stud.csv')

In [3]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [4]:
#preparing X and y variables 

X= df.drop(columns=['math_score'],axis=1)

In [5]:
X

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,74
1,female,group C,some college,standard,completed,90,88
2,female,group B,master's degree,standard,none,95,93
3,male,group A,associate's degree,free/reduced,none,57,44
4,male,group C,some college,standard,none,78,75
...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,99,95
996,male,group C,high school,free/reduced,none,55,55
997,female,group C,high school,free/reduced,completed,71,65
998,female,group D,some college,standard,completed,78,77
999,female,group D,some college,free/reduced,none,86,86

In [6]:
y=df['math_score']

In [7]:
y

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math_score, Length: 1000, dtype: int64

In [8]:
# create columns transfarmer with 3 types of transformers

num_features = X.select_dtypes(exclude="object").columns

In [9]:
cat_features = X.select_dtypes(include="object").columns

In [10]:
from sklearn.preprocessing  import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

In [11]:
numeric_transformer=StandardScaler()
oh_transformer=OneHotEncoder()

In [12]:
preprocessor=ColumnTransformer(
[

    ("OneHotEncoder",oh_transformer,cat_features),
    ("StandardScaler",numeric_transformer,num_features),
]

)

In [13]:
X=preprocessor.fit_transform(X)

In [14]:
X.shape

(1000, 19)

In [15]:
## train test split

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)
X_train.shape,X_test.shape

((800, 19), (200, 19))

In [16]:
#create evalute function to give all mertices
def evaluate_model(true,predicted):
    mae=mean_absolute_error(true,predicted)
    mse=mean_squared_error(true,predicted)
    rmse=np.sqrt(mean_squared_error(true,predicted))
    r2_square= r2_score(true,predicted)
    return mae,rmse,r2_square

In [17]:

models ={
    "Linear Regression": LinearRegression(),
    "Lasso" : Lasso(),
    "Ridge" : Ridge(),
    "K-Neighbors Regressor": KNeighborsRegressor(),
    "Decision Tree": DecisionTreeRegressor(),
    "Random Forest Regressor" : RandomForestRegressor(),
    "XGBRegressor" : XGBRegressor(),
    "Catboosing Regresssor" : CatBoostRegressor(verbose=False),
    "AdaBoost Regressor" : AdaBoostRegressor()
}

NameError: name 'LinearRegression' is not defined

In [18]:
model_list=[]
r2_list=[]

In [19]:
for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(X_train,y_train)# train model

NameError: name 'models' is not defined

In [20]:
#make prediction
y_train_pred=model.predict(X_train)
y_test_pred=model.predict(X_test)

NameError: name 'model' is not defined

In [105]:
#evaluate train and test dataset
model_train_mae,model_train_rmse,model_train_r2=evaluate_model(y_train,y_train_pred)
model_test_mae,model_test_rmse,model_test_r2=evaluate_model(y_test,y_test_pred)

In [106]:
print(list(models.keys())[i])
model_list.append(list(models.keys())[i])

print("model performance for training set")
print("Root mean squared  error: {: .4f}".format(model_train_rmse))
print("mean absolute error: {:.4f}".format(model_train_mae))
print("r2 Score:{: .4f}".format(model_train_r2))

print("------------------------------------------")

print("model performance for Test set")
print("Root mean squared  error: {: .4f}".format(model_test_rmse))
print("mean absolute error :{:.4f}".format(model_test_mae))
print("r2 Score: {: .4f}".format(model_test_r2))

r2_list.append(model_test_r2)
print("*"*35)
print("\n")

AdaBoost Regressor
model performance for training set
Root mean squared  error:  5.8241
mean absolute error: 4.7445
r2 Score: 0.8495
------------------------------------------
model performance for Test set
Root mean squared  error:  5.9491
mean absolute error :4.6133
r2 Score:  0.8546
***********************************

In [88]:
pd.DataFrame(list(zip(model_list,r2_list)),columns=['ModelName',r2_score])#.sort_values(by=["r2_score"],ascending= False)

            ModelName  <function r2_score at 0x000001A78BA10550>
0  AdaBoost Regressor                                   0.849453
1  AdaBoost Regressor                                   0.849453
2  AdaBoost Regressor                                   0.849453